boto3
psycopg2-binary
requests
beautifulsoup4
python-dotenv
tqdm
transformers
torch
sentence-transformers
pypdf
faiss-cpu
huggingface-hub
# Core LangChain packages
langchain
langchain-community
langchain-huggingface
langchain-text-splitters 

# Vector store
faiss-cpu>=1.8.0
# faiss-gpu>=1.8.0  # Uncomment if you need GPU support

pdfplumber
pymupdf 
 
accelerate 
bitsandbytes

html5lib
lxml
openAI